.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
}

h1 {
  font-size: 3em; /* Adjust the font size as needed */
  text-align: center;
  margin-top: 10px 0; /* Adjust the margin as needed */
  color: aliceblue;
}


.container {
    display: flex;
    flex-direction: column; /* Arrange containers vertically */
}

.words-container, .meanings-container {
    display: flex;
    flex-direction: column; /* Arrange items in each container vertically */
    margin: 10px;
}

.word, .meaning {
    padding: 10px;
    margin: 10px;
    text-align: center;
    user-select: none;
}

.word {
    background-color: #FFA12B;
    color: #fff;
    cursor: move;
}

.meaning {
    background-color: #FFA12B;
    color: #fff;
    border: 2px solid #FFA12B;
    position: relative;
}

.meaning span {
    pointer-events: none; /* Disable pointer events on the span element */
}

.message {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    left: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #F78900;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  .bg{
    background: url('../images/songpic.png') 100% 100% no-repeat;;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }



  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
      .bg{
        background-size: cover;
        height: 100%;
        width: 100%;
        min-height: 100vh;
      }
  }